.content{
    display: none;
}
.dropdown:hover .content{
    display: block;
} 
.header button:hover{
    background-color: grey;
    color: white;
}

.cat-bttn:hover .content{
    display: block;
}

.signin-bttn:hover{
    background-color: grey;
    color: white;
}
.join-bttn:hover{
    background-color: grey;
    color: white;
}
.ppr-bttn:hover{
    background-color: grey;
    color: white;
}
.rect-bttn:hover{
    background-color: grey;
    color: white;
}
.auth-bttn:hover{
    background-color: grey;
    color: white;
}
.new-bttn:hover{
    background-color: grey;
    color: white;
}