.name {
    opacity: 50%;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    font-size: 40px;
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
}

.slideshow {
    z-index: 1;
    box-shadow: 1px 1px 5px black;
    margin-top: 50px;
    width: 900px;
    position: relative;
}

.mySlides {
    z-index: 1;
    box-shadow: 1px 1px 5px black;
    width: 900px;
    display: none;
}


.left-bttn {
    z-index: 1;

    left: 0;
    height: 100px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
}

.right-bttn {
    z-index: 1;
    right: 0;
    height: 100px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
}