.name {
    padding-left: 20px;
    opacity: 70%;
    font-family: inter;
    width: 150px;
    font-size: 50px;
    font-weight: 700;
    position: absolute;
    background-color: transparent;
    color: white;
    bottom: 20px;
    left: 10px;
    border-bottom-left-radius: 50px;
}

.slideshow {
   
    width: 1000px;
    position: relative;
}

.mySlides {
    height: 500px;
    width: 1000px;
    display: none;
}
.left_image{
    margin-left: 20%;
}
.left-bttn, .right-bttn :hover{
    cursor: pointer;

}
.left-bttn {
    border-radius: 10px;
    padding: 0;
    position: absolute;
    background-color: whitesmoke;
    height: 40px;
    width: 40px;
    left: 20px;
    border: none;
    top: 50%;
    box-shadow: 1px 2px lightslategrey;
    
}
.right-bttn {
    box-shadow: 1px 2px lightslategrey;
    border-radius: 10px;
    padding: 0;
    position: absolute;
    right: 20px;
    border: none;
    top: 50%;
    height: 40px;
    width: 40px;
}   
.imges{
    z-index: 0;
    width:100%; height:100%;  
    object-fit: fill;  
    box-shadow: 1px 2px 5px grey;

}